body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#status-bar {
    width: 80%;
    height: 1.2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
}

#passage {
    display: block;
    margin: auto;
    padding: 20px 10px;
    width: 80%;
    height: auto;
}

#typearea {
    display: block;
    margin: auto;
    padding: 20px 10px;
    width: 80%;
    height: auto;
    border: 1px solid black;
}

#typearea:focus {
    border: 1px solid gray;
}

.correct {
    color: gray;
}

.wrong {
    color: brown;
}